{% extends 'sublayout_visitor.html.twig' %}

{% block headerMainTitle %}Gestion des évènements sportifs{% endblock %}
{% block headerSubTitle %}Liste des évènements{% endblock %}
{% block content %}

    <div class="container-fluid ">
        <div class="col-md-4 mx-auto py-2 justify-content-center">
            <a class="btn btn-success w-100" href="add/" role="button">Ajouter un évènement ...</a>
        </div>
        <div class="table-responsive-vertical mx-5">
            <!-- Table starts here -->
            <table id="table" class="table table-hover table-striped table-bordered">
                <thead class="comp-thead-color">
                <tr>
                    <th scope="col">Niveau</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Date de début</th>
                    <th scope="col">Date de fin</th>
                    <th scope="col">Catégorie</th>
                    <th scope="col">Type</th>
                    <th scope="col">Mixité</th>
                    <th scope="col">Département</th>
                    <th scope="col">Modification</th>
                    <th scope="col">Suppression</th>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr>
                        <td data-title="Niveau">{{ event.level | capitalize }}</td>
                        <td data-title="Nom">{{ event.title | capitalize }}</td>
                        <td data-title="Date de début">{{ event.date_begin }}</td>
                        <td data-title="Date de fin">{{ event.date_end }}</td>
                        <td data-title="Catégorie">{{ event.category | capitalize }}</td>
                        <td data-title="Type">{{ event.type | capitalize }}</td>
                        <td data-title="Mixité">{{ event.gendermix | capitalize }}</td>
                        <td data-title="Departement">{{ event.dept_name }} ({{ event.dept_num }})</td>
                        <td><a class="btn btn-warning w-100" href="edit/{{ event.id }}" role="button">Editer ...</a>
                        </td>
                        <td><a class="btn btn-danger w-100" href="delete/{{ event.id }}" role="button">Enlever</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
