{% extends 'sublayout_visitor.html.twig' %}

{% block title %}UPA - Vie sportive{% endblock %}
{% block headercontent %}
    {%  set headerMainTitle = 'VIE SPORTIVE'  %}
    {%  set headerSubTitle = 'Résultats sportifs'  %}
    {%  set smallHeader = true  %}
    {{ parent() }}
{% endblock %}
{% block content %}

    <section id="viesportive">
        <div class="container-fluid mb-5">

            <div class="row justify-content-around mx-5">
                {% for event in events %}
                    <div class="card rounded-0 px-5 col-lg-12 col-xl-4 mt-5 card-evt">
                        <div class="text-center m-2" >
                            <h5 class="card-title-evt text-center p-2 mt-3">{{ event.level | capitalize }}</h5>
                        </div>
                        <div class="card-body rounded-0 text-center mx-auto mx-3 p-0">
                            <div class="img_wrapper_viesportive">
                                <img class="card-img-top img-event-small p-2 textrounded-0 mb-5"
                                        {% if event.gendermix|lower == 'homme' %}
                                     src="/assets/images/compet/evt_homm2.jpg"
                                     alt="compétition homme">
                                {% elseif event.gendermix|lower == 'femme' %}
                                    src="/assets/images/compet/evt_femme.jpg" alt="compétition femme">
                                {% else %}
                                    src="/assets/images/compet/evt_mixte.jpg" alt="compétition mixte">
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-body card_body_evt pt-0">
                            <div class="heading-divider-extent"></div>
                            <ul class="list-group list-group-flush text-center">
                                <li class="list-group-item p-0 border-0">{{ event.dept_name }} ( {{ event.dept_num }})</li>
                            </ul>
                            <div class="heading-divider-extent"></div>
                            <ul class="list-group list-group-flush text-center">
                                <li class="list-group-item p-0 border-0">Catégorie : {{ event.category | capitalize }}</li>
                                <li class="list-group-item p-0 border-0">Type : {{ event.type | capitalize }}</li>
                                <li class="list-group-item p-0 border-0">Mixité : {{ event.gendermix | capitalize }}</li>
                            </ul>
                            <div class="heading-divider-extent"></div>
                            <li class="list-group-item p-0 border-0 text-center">
                                {% if event.date_begin < event.date_end %}
                                    Du {{ event.date_begin }} au {{ event.date_end }}
                                {% else %}
                                    Le {{ event.date_begin }}
                                {% endif %}
                            </li>
                        </div>
                        <div class="text-center">
                            {% if event.article_id > 0 %}
                                <a class="btn btn_item mb-3" href="/article/show/{{ event.article_id }}" role="button">Voir les résultats</a>
                                {% else %}
                                    <button type="button" class="btn btn_item mb-3"  role="button"  disabled>Pas de résultats</button>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
