{% extends 'sublayout_visitor.html.twig' %}

{% block title %}UPA - Vie sportive{% endblock %}
{% block headercontent %}
    {% set headerMainTitle = 'VIE SPORTIVE' %}
    {% set headerSubTitle = 'Evènements sportifs à venir' %}
    {% set smallHeader = true %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container-fluid p-0">
        <section class="colored_background p-2">
            <div id="panelfilter">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h5>Filtrer des évènements</h5>
                        <div><span id="iconfilter" class="fa fa-arrow-circle-right rotate"></span></div>
                    </div>
                </div>
            </div>
            <form id="formfilter" method="get" action="/event/index/">
                <section>
                    <div class="row px-2">
                        <div class="form-group px-2 col-md-3">
                            <label for="evtlevel">Niveau de compétition :</label>
                            <select class="form-control" id="evtlevel" name="level_id">
                                <option value="">Tous</option>
                                {% for level in levels %}
                                    <option value="{{ level.id }}" {{ level.id == eventsfilters.level_id ? 'selected' : '' }}>{{ level.name | capitalize }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group px-2 col-md-3">
                            <label for="evttype">Type(s) de rencontres :</label>
                            <select class="form-control" id="evttype" name="type_id">
                                <option value="">Tous</option>
                                {% for type in types %}
                                    <option value="{{ type.id }}" {{ type.id == eventsfilters.type_id ? 'selected' : '' }}>{{ type.name | capitalize }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group px-2 col-md-3">
                            <label for="evtcategory">Catégorie :</label>
                            <select class="form-control" id="evtcategory" name="category_id">
                                <option value="">Toutes</option>
                                {% for categorie in categories %}
                                    <option value="{{ categorie.id }}" {{ categorie.id == eventsfilters.category_id ? 'selected' : '' }}>{{ categorie.name | capitalize }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group px-2 col-md-3">
                            <label for="evtgendermix">Mixité,:</label>
                            <select class="form-control" id="evtgendermix" name="gendermix_id">
                                <option value="">Toutes</option>
                                {% for gender in genders %}
                                    <option value="{{ gender.id }}" {{ gender.id == eventsfilters.gendermix_id ? 'selected' : '' }}>{{ gender.name | capitalize }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="form-group px-2 col-md-3">
                        <label for="evtdepartment">Département du site :</label>
                        <select class="form-control" id="evtdepartment" name="departement_id">
                            <option value="">Tous</option>
                            {% for departement in departements %}
                                <option value="{{ departement.id }}" {{ departement.id == eventsfilters.departement_id ? 'selected' : '' }} >{{ departement.name }}
                                    ({{ departement.numdept }})
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </section>
                <div class="mt-5 text-center">
                    <a class="btn btn_item" href="/event/index/reset=true" role="button">Réinitialiser les
                        filtres...</a>
                    <button type="submit" class="btn btn_item">Rechercher ...</button>
                </div>
            </form>
        </section>
        <section class="mt-3">
            {% if not events is empty %}
            <div class="table-responsive-vertical mx-5">
                <!-- Table starts here -->
                <table id="table" class="table table-hover table-striped table-bordered">
                    <thead class="comp-thead-color">
                    <tr>
                        <th scope="col">Niveau</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Date de début</th>
                        <th scope="col">Date de fin</th>
                        <th scope="col">Catégorie</th>
                        <th scope="col">Type</th>
                        <th scope="col">Mixité</th>
                        <th scope="col">Département</th>
                        <th scope="col">Informations</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for event in events %}
                        <tr>
                            <td data-title="Niveau">{{ event.level | capitalize }}</td>
                            <td data-title="Nom">{{ event.title | capitalize }}</td>
                            <td data-title="Date de début">{{ event.date_begin }}</td>
                            <td data-title="Date de fin">{{ event.date_end }}</td>
                            <td data-title="Catégorie">{{ event.category | capitalize }}</td>
                            <td data-title="Type">{{ event.type | capitalize }}</td>
                            <td data-title="Mixité">{{ event.gendermix | capitalize }}</td>
                            <td data-title="Departement">{{ event.dept_name }} ({{ event.dept_num }})</td>
                            <td><a class="btn comp-button-moreinfo w-100" href="/event/show/{{ event.id }}"
                                   role="button">En
                                    savoir
                                    plus</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <div class="row m-5">
                    <div class="col-md-6 mx-auto text-center">
                        <h3>Désolé, mais aucun évènement sportif n'est prévu</h3>
                    </div>
                    </div>
                {% endif %}
            </div>
        </section>
    </div>

{% endblock %}
