{% extends 'sublayout_visitor.html.twig' %}

{% block content %}
    <h2>Evènements sportifs à venir</h2>
<div class="container-fluid">
        <div class="table-responsive-vertical mx-5">
            <!-- Table starts here -->
            <table id="table" class="table table-hover table-striped table-bordered">
                <thead class="comp-thead-color">
                <tr>
                    <th scope="col">Niveau</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Date de début</th>
                    <th scope="col">Date de fin</th>
                    <th scope="col">Département</th>
                    <th scope="col">Localité</th>
                    <th scope="col">Informations</th>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr>
                        <td data-title="Niveau">{{ event.level | capitalize  }}</td>
                        <td data-title="Nom">{{ event.title | capitalize }}</td>
                        <td data-title="Date de début">{{ event.date_begin }}</td>
                        <td data-title="Date de fin">{{ event.date_end }}</td>
                        <td data-title="Departement">{{ event.dept_name }} ({{ event.dept_num }})</td>
                        <td data-title="Localité">{{ event.location}}</td>
                        <td><a class="btn comp-button-moreinfo w-100" href="#" role="button">En savoir plus</a></td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
</div>
{% endblock %}
