{% extends 'sublayout_visitor.html.twig' %}
{% block title %}UPA - Accueil{% endblock %}
{% block headercontent %}
    {%  set headerMainTitle = 'Union Pétanque Argonnaise'  %}
    {{ parent() }}
{% endblock %}
{% block content %}

    <!-- ==================== Début Section "Vos envies" ==================== -->

    <section id="vos_envies" class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Vos envies...</h2>
                <div class="h2_separator"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm_12 col-lg-4 mx-auto card_margin card_margin_yourwishes">
                <div class="card card_yourwishes">
                    <img class="card-img-top card_img_yourwishes"
                         src="/assets/images/vosenvies_decouvrir.jpg"
                         alt="Photo découverte pétanque">

                    <div class="card-body card_body_yourwishes">
                        <h5 class="card-title text-center">Découverte</h5>
                        <p class="card-text">Vous souhaitez découvrir l'univers de la pétanque ? Des terrains et des
                            ateliers sont à votre disposition.</p>
                    </div>
                    <div class="card-footer card_title_footer text-center">
                        <button type="button" class="btn btn_item" data-toggle="modal"
                                data-target="#vos_envies">
                            Voir plus
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-sm_12 col-lg-4 mx-auto card_margin card_margin_yourwishes">
                <div class="card card_yourwishes">
                    <img class="card-img-top card_img_yourwishes"
                         src="/assets/images/vosenvies_entrainement.jpg"
                         alt="Photo entraînement pétanque">

                    <div class="card-body card_body_yourwishes">
                        <h5 class="card-title text-center">Entraînement</h5>
                        <p class="card-text">Améliorez votre technique en participant à nos entraînements
                            semi-professionnels.</p>
                    </div>
                    <div class="card-footer card_title_footer text-center">
                        <button type="button" class="btn btn_item" data-toggle="modal"
                                data-target="#vos_envies">
                            Voir plus
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-sm_12 col-lg-4 mx-auto card_margin card_margin_yourwishes">
                <div class="card card_yourwishes">
                    <img class="card-img-top card_img_yourwishes"
                         src="/assets/images/vosenvies_competition.jpg"
                         alt="Photo compétition pétanque">

                    <div class="card-body card_body_yourwishes">
                        <h5 class="card-title text-center">Compétition</h5>
                        <p class="card-text">Allez plus loin et participez aux compétitions partout en France et à
                            l'International</p>
                    </div>
                    <div class="card-footer card_title_footer text-center">
                        <button type="button" class="btn btn_item" data-toggle="modal"
                                data-target="#vos_envies">
                            Voir plus
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ==================== Fin Section "Vos envies" ==================== -->

<!-- ==================== Début Section "Vos envies" ==================== -->

    <section id="HarticleClub">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="h2_colored_section">Actualités du club</h2>
                    <div class="h2_separator_dark"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <a href="#">
                        <div class="big_club_article mt-0">
                            <div class="info_article_big">
                                <ul>
                                    <li>
                                        <i class="fas fa-calendar-alt"><span>{{ lastThreeEvents[0].date }}</span></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-user"><span>{{ lastThreeEvents[0].author }}</span></i>
                                    </li>
                                </ul>
                                <div class="article_tag_and_title_big">
                                    <button class="button_tag btn">{{ lastThreeEvents[0].tag }}</button>
                                    <h4 class="title_article_big">{{ lastThreeEvents[0].title }}</h4>
                                    <p class="hover_content_big_article no_display">{{ (lastThreeEvents[0].descr|length > 200 ? lastThreeEvents[0].desc|slice(0, 200) ~ '…' : lastThreeEvents[0].desc) |nl2br }}</p>
                                </div>
                            </div>
                            <img class="rounded big_club_img bloc" src="https://via.placeholder.com/150">
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#">
                        <div class="card card_small_article mx-auto mt-0">
                            <div class="info_article_small">
                                <div class="article_tag_small">
                                    <button class="button_tag btn">{{ article[1].tag }}</button>
                                </div>
                            </div>
                            <img class="card-img-top card_img_small" src="https://via.placeholder.com/150"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ article[1].title }}</h5>
                                <p class="card-text">{{ (article[1].desc|length > 100 ? article[1].desc|slice(0, 100) ~ '…' : article[1].desc) |nl2br }}</p>
                                <i class="fas fa-calendar-alt mt-5"><span>{{ article[1].date }}</span></i>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#">
                        <div class="card card_small_article mx-auto mt-0">
                            <div class="info_article_small">
                                <div class="article_tag_small">
                                    <button class="button_tag btn">{{ article[2].tag }}</button>
                                </div>
                            </div>
                            <img class="card-img-top card_img_small" src="https://via.placeholder.com/150"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ article[2].title }}</h5>
                                <p class="card-text">{{ (article[2].desc|length > 100 ? article[2].desc|slice(0, 100) ~ '…' : article[2].desc) |nl2br }}</p>
                                <i class="fas fa-calendar-alt mt-5"><span>{{ article[2].date }}</span></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- ============== Début section Horaires ============= -->

    <section id="horaires" class="colored_background">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="h2_colored_section">Horaires</h2>
                    <div class="h2_separator_dark"></div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="table-responsive-vertical mx-auto w-75">
                        <table class="table table-hover table_striped table-bordered">
                            <thead class="comp-thead-color">
                            <tr>
                                <th class="text-center" scope="col">Jour</th>
                                <th class="text-center" scope="col">Matin</th>
                                <th class="text-center" scope="col">Après-midi</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for schedule in schedules %}
                                <tr>
                                    <td class="text-center">{{ schedule.day }} :</td>
                                    <td class="text-center" data-title="Matin :">{{ schedule.morning }}</td>
                                    <td class="text-center" data-title="Après-midi :">{{ schedule.afternoon }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="Hpartenaires">
            <div class="mx-5">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="h2_colored_section">Partenaires</h2>
                        <div class="h2_separator_dark"></div>
                    </div>
                </div>
                <div class="row text-center align-items-center row-no-padding">
                    {% for partner in partners %}
                        <div class="col-xl-2 p-0">
                            <div class="sponsor_wrapper pt-3 pb-3">
                                    <a href="{{ partner.url }}">
                                        <img src="/{{ partner.picture }}"
                                             class="rounded partner_img" alt="{{ partner.picture }}">
                                    </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="w-100 text-center mt-4">
                    <button class="btn comp-button-moreinfo mb-5">Ils nous font confiance</button>
                </div>
            </div>
    </section>

    <!-- ==================== Fin section Horaires ========================== -->

{% endblock %}

