{% extends 'sublayout_visitor.html.twig' %}

{% block title %}UPA - Vie du club - Administration{% endblock %}
{% block headercontent %}
    {% set headerMainTitle = 'VIE DU CLUB' %}
    {% set headerSubTitle = 'Administration - Galerie photo' %}
    {% set smallHeader = true %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="container-fluid ">
        <div class="jumbotron jumbotron-fluid text-center py-3">
            <div class="container py-2">
                <h3>Actuellement {{ pictures|length }} photo(s)</h3>
            </div>
            <div class="border border-info col-md-6 mx-auto py-3">
                <form enctype="multipart/form-data" method="post">
                    <div class="text-info">
                        <div>
                            <label class="display-5" for='upload'>Sélectionner des images à uploader (PNG, JPG, GIF) :</label>
                        </div>
                        <div>
                            <input id='upload' name="upload[]" type="file" multiple="multiple" accept="image/gif,image/jpg,image/png"/>
                        </div>
                    </div>
                    <div class="my-3">
                        <input class="btn btn-info btn-lg" type="submit" name="submit"
                               value="Charger les nouvelles images ..">
                    </div>
                </form>
                <input type="hidden" value="{{ article.id }}" name="id">
            </div>
        </div>

        {% set countFileUploaded=0 %}
        {% for uploadedfile in uploadedfiles %}
            {% if not uploadedfile.uploaded %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>{{ uploadedfile.fileName }}</strong> non mis en ligne : {{ uploadedfile.uploadederror }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% else %}
                {% set countFileUploaded = countFileUploaded + 1 %}
            {% endif %}
        {% endfor %}
        {% if countFileUploaded > 0 %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{ countFileUploaded }}</strong> fichier(s) correctement mis en ligne.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}

        <div class="row justify-content-center">
            {% for picture in pictures %}
                <div class="card  m-3 col-md-3 rounded-0 thumbnail text-center">
                    <div class="p-2">
                        <img class="card-img-top rounded-0" src="/{{ picture.picture }}"
                             alt="{{ picture.legend | capitalize }}">
                    </div>
                    <div class="card-body text-left">
                        {% if  picture.legend %}
                            <p class="card-text">{{ picture.legend | capitalize }}</p>
                        {% endif %}

                    </div>
                    <div class="card-footer bg-white">
                        <form method="post" action="/AdminPictureArticle/delete/?status=success">
                            <button type="submit" class="btn btn-danger w-100" name="id" value="{{ picture.id }}">
                                Supprimer
                            </button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
