{% extends 'sublayout_visitor.html.twig' %}

{% block title %}UPA - Vie du club{% endblock %}
{% block headercontent %}
    {%  set headerMainTitle = 'VIE DU CLUB'  %}
    {%  set headerSubTitle = 'Les dernières actualités'  %}
    {%  set smallHeader = true  %}
    {{ parent() }}
{% endblock %}
{% block content %}

    <div class="container">
        {% for article in articles %}
            <div class="row row_article">
                <div class="col-sm-12">
                    <div class="card card-article card_evt_article rounded-0">
                        <div class="card-header text-left card-header_article">
                            <div><h4><span class="badge badge-info">#{{ article.category | capitalize }}</span></h4>
                            </div>
                            <i class="fas fa-calendar-alt">&nbsp</i>&nbsp;le {{ article.date_publicated }}
                        </div>
                        <div class="row card-body">
                            {% if loop.index is odd %}
                                {% if article.picture is empty %}
                                    <img class="col-sm-12 col-md-6 rounded-0 mb-2 article-small text-center mx-auto sepia_img_cover"
                                         src="/assets/images/article-default.jpg"
                                         alt="{{ 'image de ' ~ article.title }}">
                                {% else %}
                                    <img class="col-sm-12 col-md-6 rounded-0 mb-2 article-small text-center mx-auto sepia_img_cover"
                                         src="/{{ article.picture }}"
                                         alt="{{ 'image de ' ~ article.title }}">
                                {% endif %}
                            {% endif %}

                            <div class="col-sm-12 col-md-6">
                                <h4 class="card-title text-center">{{ article.title }}</h4>
                                <div class="heading-divider-extent"></div>
                                <p class="card-text text-justify card-article-text"> {{ article.description|striptags|length > 500 ? article.description|striptags|slice(0, 500) ~ ' [...]' : article.description|striptags }}</p>
                            </div>
                            {% if loop.index is even %}
                                {% if article.picture is empty %}
                                    <img class="col-sm-12 col-md-6 rounded-0 mb-2 article-small text-center mx-auto sepia_img_cover"
                                         src="/assets/images/article-default.jpg"
                                         alt="{{ 'image de ' ~ article.title }}">
                                {% else %}
                                    <img class="col-sm-12 col-md-6 rounded-0 mb-2 article-small text-center mx-auto sepia_img_cover"
                                         src="/{{ article.picture }}"
                                         alt="{{ 'image de ' ~ article.title }}">
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="card-footer card-footer_article">
                            <div class="p-3 text-center">
                                <a class="btn btn_item" href="/Article/show/{{ article.id }}"
                                   role="button">En
                                    savoir plus</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
