{% extends 'sublayout_visitor.html.twig' %}
{% block title %}UPA - Accueil{% endblock %}
{% block headercontent %}
    {%  set headerMainTitle = 'Union Pétanque Argonnaise'  %}
    {%  set headerSubTitle = 'Qui sommes nous ?'  %}
    {%  set smallHeader = true  %}
    {{ parent() }}
{% endblock %}
{% block content %}

    <div class="container-fluid justify-content-center text-center p-4">
        <div class="btn-group mt-5 mb-3" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary btn_toggle_member" id="commButton">Commission</button>
            <button type="button" class="btn btn-secondary btn_toggle_member" id="salaButton">Salarié</button>
            <button type="button" class="btn btn-secondary btn_toggle_member" id="comiteButton">Comité Directeur</button>
        </div>
        <div class="row justify-content-center mt-3">

            {% for key, member in members %}

                <div class="card col-lg-6 col-xl-3 p-0 m-3 min_width_card_members card_member" data-commission="{{ member.isCommission }}"
                    data-salaried="{{ member.isSalaried }}" data-committee="{{ member.isComiteDirecteur }}">
                    <div class="card-header img_cover_member card_header_member_bg card_header_member">
                        <img class="card_img_member rounded" src="/{{ member.picture }}"
                             alt="{{ member.lastname }} {{ member.firstname }}">
                    </div>
                    <div class="card-body pt-0 pl-3 text-left card_body_member_bg">
                        <div class="name_role_member_card border_bottom_member_card">
                            <p class="text-left mt-2">{{ member.lastname }} {{ member.firstname }}</p>
                            <p class="text-left font-italic">{{ member.role }}</p>
                            <p class="text-left m-0 font-italic">{{ member.commissions }}</p>
                        </div>
                        <div class="desc_member_card">
                            <p class="text-left">
                                {{ randomDescription[key] }}
                            </p>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>
    </div>

    <div class="container-fluid justify-content-center text-center p-5 sponsor_background">
        <h3 class="mb-3 text-center font_title_partner">Nos partenaires</h3>

        <div class="row justify-content-center">

            {% for partner in partners %}

                <div class="col-md-6 col-lg-2 p-0 m-3 my-auto py-3">
                    <div class="sponsors_wrapper mx-auto">
                        <img class="img_partner" src="/{{ partner.picture }}"
                             alt="{{ partner.lastname }} {{ partner.firstname }}">
                    </div>
                </div>

            {% endfor %}

        </div>
    </div>




{% endblock %}